# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
jsonstat

# Test binary, built with `go test -c`
*.test

# Dependency directories
vendor/

# Go workspace file
go.work

# Environment variables
.env